<?xml version="1.0" encoding="UTF-8"?>
<root>
    <Audio />
    <Display>
        <BufferFrames>3</BufferFrames>
        <Monitor>0</Monitor>
        <RefreshRate>144.0</RefreshRate>
        <ResolutionWidth>1920</ResolutionWidth>
        <ResolutionHeight>1080</ResolutionHeight>
        <VSync>0</VSync>
        <WindowMode>1</WindowMode>
    </Display>

    <Gameplay />

    <Graphic>

    </Graphic>

    <Input />
</root>