<?xml version="1.0" encoding="UTF-8"?>
<root>
    <Audio>
        <MasterVolume>0.6</MasterVolume>
        <EffectVolume>0.8</EffectVolume>
        <MusicVolume>0.75</MusicVolume>
    </Audio>
    <Display>
        <BufferFrames>3</BufferFrames>
        <Monitor>0</Monitor>
        <RefreshRate>144</RefreshRate>
        <ResolutionWidth>1280</ResolutionWidth>
        <ResolutionHeight>720</ResolutionHeight>
        <FOV>80</FOV>
        <VSync>0</VSync>
        <WindowMode>0</WindowMode>
    </Display>

    <Gameplay
    
    ></Gameplay>

    <Graphic>
        <NumFrameResources>3</NumFrameResources>
        <AnisotropicFiltering>16</AnisotropicFiltering>
    </Graphic>

    <Input>
        <InvertYAxis>1</InvertYAxis>
        <Sensitivity>4.0</Sensitivity>
        <FPSCameraSpeed>10.0</FPSCameraSpeed>
    </Input>

    <Misc>
        <DebugEnabled>1</DebugEnabled>
    </Misc>
</root>